
.realEstateTable{
    font-size: 10px;
    margin: 20px auto;
}
.realEstateTitles{
    background-color: #06442D;
    color: white;
}
.realEstateTitles th{
    padding: 5px;
}
.estateLine td{
    border-bottom: 1px solid #ccc;
}
.realEstateTable td{
    text-align: center;
    padding: 5px;
}
.addEstateBtnBlock{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.addEstateBtn{
    width: 50%;
    border: none;
    background-color: #06442D;
    color: white;
    padding: 5px 0;
    font-size: 9px;
    border-radius: 5px;
}
.estateControls{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.sellEstatePopupInout{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    transition: 0.2s;
    text-align: center;
    letter-spacing: 1px;
    outline: none;
}
.sellEstatePopupInout:focus{
    border-color: #06442D;
}


