.riskShareBlock{
    display: flex;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid #aaa;
    font-size: 12px;
}
.riskShareTitle{
    width: 20%;
    font-weight: 700;
}
.dealBlock{
    position: relative;
    background-color: orange;
    padding: 5px;
    color: white;
    width: 20%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.circleCount, .sellBtn{
    position: absolute;
    top: -30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.circleCount{
    left: 3px;
    background-color: #c53434;
}
.sellBtn{
    right: 3px;
    background-color: #217821;
}
.currentCircleCount{
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: 9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #217821;
}
.noDeal{
    background-color: #ccc;
    width: 67%;
    padding: 5px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buyBtn{
    margin-left: auto;
    cursor: pointer;
}