.historyBlock {
  width: 100%;
  max-height: 80%;
  overflow-y: scroll;
}
.historyDealBlock {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 0 5px 3px;
  font-size: 6px;
  box-sizing: border-box;
  margin-bottom: 3px;
}
.historyDealBlockTitles {
  background-color: #06442d;
  color: white;
  font-size: 6px !important;
  text-align: left;
}
.historyBuyBlock {
  background-color: #ffd1d1;
}
.historySellBlock {
  background-color: #d2ffd2;
}
.historyDealBlock div,
.historyDealBlockTitles div {
  width: 14%;
}
.historyDealBlock .riskDeal span {
  background-color: #191919;
  color: white;
  padding: 5px 3px;
}
