.historyBlock{
    width: 100%;
    max-height: 80%;
    overflow-y: scroll;
}
.historyDealBlock{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    font-size: 8px;
    box-sizing: border-box;
    margin-bottom: 3px;
}
.historyBuyBlock{
    background-color: #ffd1d1;
}
.historySellBlock{
    background-color: #d2ffd2;
}
.historyDealBlock div{
    width: 14%;
    padding: 0 5px;
}
.historyDealBlock .riskDeal span{
    background-color: #191919;
    color: white;
    padding: 5px;
}